<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <title>PhotographyWebsiteMari</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <style media="screen">
      .app-header { background-image: url(<%= image_url("IMG_0067.1.jpg")%>);   }
    </style>
  </head>
  <body>
    <header class ="app-header">
      <div class="container">
        <div class="row nav2">
          <div class="col s4 offset-s9 nav2">
            <ul>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/admin">Login</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <h3>ML PINOTTI PHOTOGRAPHY</h3>
    <nav class="nav-center black" role="navigation">
    <div class="nav-wrapper container black">
        <ul>
            <li><a href="/all">All</a></li>
            <li><a href="/portraits">Portraits</a></li>
            <li><a href="/artist/1/about">About</a></li>
        </ul>
    </div>
</nav>
 </nav>
    <%= yield %>
  </body>
</html>
